JSON
- JavaScript Object Notation
- 경량의 데이터 교환 방식
- 사람이 읽고 쓰기 쉽고, 컴퓨터가 분석하고 생성하기 쉬움
- 완벽하게 언어로부터 독립적. 특정 언어에 국한X
- 데이터의 형태가 key:value쌍으로 구성됨

## <dictionary를 json 파일로 변환>
### 방법 1 : dictionary(dict) -> str -> json파일

01. dict 형태의 data를 str로 변경 : json.dumps()
str_data = json.dumps(data)
자료형 : str

02. 파일열기 -> 쓰기를 통해 json 확장자로 저장
with open('student.json', 'w') as file:
    file.write(str_data)

### 방법 2 : dictionary(dict) -> json파일

* 파일열기 -> 쓰기
with open('student2.json', 'w') as file :
    json.dump(data, file)

## <json 파일 읽기 (str 또는 dict 형태로)>
### 유형 1 : Json파일 -> Str -> Dict

[loads : 문자열을 읽을 때 사용]

01. Json파일을 Str로 읽기 : file.read()
02. Str을 Dict로 : json.loads()

with open('student.json', 'r') as file :
    file.read()
    read_file = json.loads(file.read())

### 유형 2 : Json파일 -> Dict (곧바로 변환)

[load : 파일을 읽을 때 사용]

with open('student.json', 'r') as file :
    #json.load(파일객체)
    read_file = json.load(file)

#### 연습용 파일
json 파일의 구조 : 리스트, key-value의 중층형태
e.g. {key : [{key2: value}, {key3:value}  ...... ]}

In [6]:
import requests
import json
import pandas as pd

data = {}
## element 추가
data['student'] = []

## student Key의 list Value에 요소 추가
data['student'].append({
    'name' : 'hong',
    'website' : 'daum.net',
    'from' : 'jeju'
})

data['student'].append({
    'name' : 'park',
    'website' : 'google.com',
    'from' : 'Busan'
})

data['student'].append({
    'name' : 'kim',
    'website' : 'naver.com',
    'from' : 'Seoul'
})

data

{'student': [{'name': 'hong', 'website': 'daum.net', 'from': 'jeju'},
  {'name': 'park', 'website': 'google.com', 'from': 'Busan'},
  {'name': 'kim', 'website': 'naver.com', 'from': 'Seoul'}]}

In [4]:
## 학생의 이름 출력
for name in data['student'] :
    print(name['name'])

hong
park
kim

## <Json 파일 Dataframe으로 변환 (normalize)>
(딕셔너리를 Dataframe의 형태로 변환해주는 메서드)

In [7]:
### json 파일 요청
headers = {'user-agent' :'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.67 Safari/537.36'}

url = r'https://finance.naver.com/world/worldDayListJson.naver?symbol=SPI@SPX&fdtc=0&page=1'

httpResponse = requests.get(url, headers=headers)

In [8]:
### json 파일 -> str -> 딕셔너리 형태로 변환
dict_data = json.loads(httpResponse.text)

In [9]:
table = pd.json_normalize(dict_data)
table

,symb,xymd,open,high,low,clos,diff,rate,gvol
0,SPI@SPX,20220527,4077.43,4158.49,4077.43,4158.24,100.40,2.47,2166465380
1,SPI@SPX,20220526,3984.60,4075.14,3984.60,4057.84,79.11,1.99,2403570880
2,SPI@SPX,20220525,3929.59,3999.33,3925.03,3978.73,37.25,0.95,2334088570
3,SPI@SPX,20220524,3942.94,3955.68,3875.13,3941.48,-32.27,-0.81,2436606100
4,SPI@SPX,20220523,3919.42,3981.88,3909.04,3973.75,72.39,1.86,2388208960
5,SPI@SPX,20220520,3927.76,3943.42,3810.32,3901.36,0.57,0.01,3002384990
6,SPI@SPX,20220519,3899.00,3945.96,3876.58,3900.79,-22.89,-0.58,2774295100
7,SPI@SPX,20220518,4051.98,4051.98,3911.91,3923.68,-165.17,-4.04,2712127310
8,SPI@SPX,20220517,4052.00,4090.72,4033.93,4088.85,80.84,2.02,2458409820
9,SPI@SPX,20220516,4013.02,4046.46,3983.99,4008.01,-15.88,-0.39,2213704710